<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messages for Admin</title>
</head>
<body>
  <h1>Messages for Admin</h1>
  <ul>
    <% messages.forEach(message => { %>
      <li>
        <span>
          <strong><%= message.title %></strong>
          <p><%= message.text %></p>
          <em>By: <%= message.user.username %> at <%= new Date(message.time_stamp).toLocaleString() %></em>
          <form method="POST" action="/delete-message/<%= message._id %>">
            <button type="submit">Delete Permanently</button>
          </form>
        </span>        
      </li>
    <% }); %>
  </ul>
  
  <a href="/">Back to Home</a>
</body>
</html>
